<a href="https://colab.research.google.com/github/fi0909/Desain-dan-Analisis-Algoritma/blob/main/Pertemuan_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import numpy as np
a = [1,2,3]
b = [4,5,6]
hasil = a + b
print (hasil)
def add (list_a,list_b):
    result = []
    for first, second in zip (list_a,list_b):
      result.append(first+second)
    return result
print (add(a,b))

[1, 2, 3, 4, 5, 6]
[5, 7, 9]

In [28]:
import numpy as np
nilai_siswa = np.array([85,55,40,90])
print (nilai_siswa[2])

40

In [19]:
import numpy as np
print (np.__version__)

1.23.5

In [24]:
print("hello world!")
print("Nama saya FI")
print("NIM saya 2020031082")
if 5>2:
  print("Five is greater than two!")

hello world!
Nama saya FI
NIM saya 2020031082
Five is greater than two!

In [26]:
x = 5
y = "john"
print (x)
print (y)

5 john
john

In [27]:
x = 4
x = "Sally"
print(x)

Sally

In [32]:
def pertama(listku):
  return listku[0]
pertama([1,2,3])
pertama([1,2,3,4,5,6,7,8,9])

9

In [31]:
def kedua(listku):
    return listku[1]
kedua([3,7,6,4,11])

2

In [52]:
def terakhir(listku):
  return listku[0-1]
terakhir ([3,4,7,9])

9

In [53]:
def terakhir(listku):
  return listku[len(listku)-1]
terakhir([3,4,7,9])

9

In [34]:
def jumtol(listku):
  sum=0
  for item in listku:
    sum = sum+item
  return sum

jumtol ([1,2,3,4])

45

In [39]:
def kaltol(listku):
  sum=1
  for item in listku:
    sum = sum*item
  return sum

kaltol ([1,2,3,4])

24

In [40]:
def bagtol(listku):
  sum=1
  for item in listku:
    sum = sum/item
  return sum

kaltol ([1,2,3,4])

0.041666666666666664

In [43]:
def jumtol(listku):
  sum = 0
  for row in listku:
    for item in row:
      sum += item
  return sum
jumtol([[1,2,5],[3,4,7]])

22

In [42]:
def bagtol(listku):
  sum = 1
  for row in listku:
    for item in row:
      sum = sum/item
  return sum
bagtol([[1,2,5],[3,4,7]])

0.0011904761904761904

In [44]:
def kaltol(listku):
  sum= 1
  for row in listku:
    for item in row:
      sum= sum*item
  return sum
kaltol([[1,2,5],[3,4,7]])

840